
<!doctype html>
<html lang="en">
<head>
<title>SBC - Chatbot - {{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/board-styles.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/chat-styles.css" type="text/css" media="screen">
</head>
<body>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row vh-100">
            <div class="col col-chat">
                <div class="chat-box">
                    <div class="chat-messages mb-2">
                            <ul>
                                <li class="bot-mssg">
                                    <p>No reason to get excited The thief he kindly spoke There are many here among us
                                        Who feel that life is but a joke But, uh, but you and I, we've been through that
                                        And this is not our fate So let us stop talkin' falsely now
                                        The hour's getting late, hey All along the watchtower Princes kept the view
                                        While all the women came and went Barefoot servants, too
                                        Outside in the cold distance A wildcat did growl Two riders were approaching And the wind began to howl</p>
                                </li>
                                <li class="user-mssg">
                                    <p>Hello</p>
                                </li>
                            </ul>
                    </div>
                    <div class="chat-input container">
                        <div class="input-wrap row">
                            <div class="col-12 col-md-9">
                                <input  id="chat-message-input" type="text" placeholder="Write your message..."/>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="container-submit">
                                    <!-- Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
                                    <img id="chat-message-btn" src="assets/ic_send.svg" alt=""/>
                                </div>
                            </div>

                        </div> 
                    </div>
                </div>   
            </div>
        </div>
    </div>
    
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <script src="js/particles.js"></script>
   <script src="js/main.js"></script>
</body>
</html>