<!doctype html>
<html lang="en">
<head>
<title>SBC - Chatbot - {{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/board-styles.css" type="text/css" media="screen">
</head>
<body>
    <div id="particles-js"></div>
    <div class="container board-container">
      <div class="row vh-100">
        <div class="col-12 col-sessions col-xl-6 my-auto">
          <div class="card">
            <div class="card-header text-center">
              <h3>Chatbot Sessions</h3>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </div>
          </div>
            
        </div>
        <div class="col-12 col-controls col-xl-6 my-auto">
            <div class="row row-stats">
              <div class="col-12 col-sm-4 col-item">
                <div class="card card-today text-center">
                  <div class="card-body">
                    <div class="card-title">
                      <b>TODAY</b>
                    </div>
                    <div class="card-text">
                      7
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-item">
                <div class="card card-week text-center">
                  <div class="card-body">
                    <div class="card-title">
                      <b>THIS MONTH</b>
                    </div>
                    <div class="card-text">
                      40
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-item">
                <div class="card  card-month text-center">
                  <div class="card-body">
                    <div class="card-title">
                      <b>THIS MONTH</b>
                    </div>
                    <div class="card-text">
                      150
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row mt-4 row-options">
              <div class="col-12 col-sm-4 col-item">
                <div class="card pt-2 text-center">
                  <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                  <img src="assets/ic_stats.svg" class="card-img-top" alt="ic_stats"/>
                  <h6 class="card-title mt-2">ACCESS STATS</h3>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-item">
                <div class="card pt-2 text-center">
                  <!-- Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
                  <img src="assets/ic_location.svg" class="card-img-top" alt="ic_stats"/>
                  <h6 class="card-title mt-2">LOCATION STATS</h3>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-item">
                <div class="card pt-2 text-center">
                  <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
                  <img src="assets/ic_docs.svg" class="card-img-top" alt="ic_stats"/>
                  <h6 class="card-title mt-2">CONVERSATION STATS</h3>
                </div>
              </div>
            </div>
            <div class="row mt-4 row-extra">

            </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/particles.js"></script>
    <script src="js/main.js"></script>
</body>
</html>