{% extends "chat/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'chat/css/chat-read-styles.css' %}" type="text/css" media="screen">
{% endblock %}
{% block content %}
    {{ room_name|json_script:"room-name" }}
    <div class="container">
        <div class="row inner-container vh-100">
            <div class="col-12 col-xl-6 col-chat">
                <div class="chat-box">
                    <div class="chat-messages mb-2">
                        {% if messages %}
                            <ul>
                                {% for m in messages %}
                                    <li class="{{m.sender}}"><p>{{m.text}}</p></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                            </ul>
                        {% endif %}    
                    </div>
                </div>   
            </div>
            <div class="col col-xl-6 col-data">
                <div class="data-box">
                    <h2 class="text-center mb-4">On live Information</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'chat/js/chat-read-only.js' %}"></script>
{% endblock scripts %}