{% extends "chat/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'chat/css/board-styles.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'chat/css/chat-styles.css' %}" type="text/css" media="screen">
{% endblock %}
{% block content %}
    {{ room_name|json_script:"room-name" }}
    <div class="container">
        <div class="row vh-100">
            <div class="col col-chat">
                <div class="chat-box">
                    <div class="chat-messages mb-2">
                            <ul>
                            </ul>
                    </div>
                    <div class="chat-input container">
                        <div class="input-wrap row">
                            <div class="col-12 col-md-9">
                                <input  id="chat-message-input" type="text" placeholder="Write your message..."/>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="container-submit">
                                    <!-- Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
                                    <img id="chat-message-btn" type="button" value="Send" src="{% static 'chat/assets/ic_send.svg' %}" alt=""/>
                                </div>
                            </div>

                        </div> 
                    </div>
                </div>   
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock scripts %}