:root {
    --primary-color: #000733;
    --secondary-color: cornflowerblue;
}

body {
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(1,12,83);
    background: radial-gradient(circle, rgba(1,12,83,1) 10%, rgba(0,7,51,1) 69%);
}
